html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/**Alterações pontuais*/
.prn-cardposition {
    margin-top: -25px !important;
}

.prn-card-geral {
    --bs-card-spacer-y: 0.5rem !important;
    --bs-card-spacer-x: 0.5rem !important;
}
.prn-continer-geral {
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0 !important;
}
.prn-fundo {
    /* Background pattern from Toptal Subtle Patterns */

    background-image: url("/lib/Img/logo_sistema.png") !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.prn-font-card-header {
    color: #858796 !important;
    font-size: 1.1rem !important;
    font-weight: 600;
}
.prn-border-columns {
    border-right: 0.5px solid #ccc !important;
}

.prn-border-columns-left {
    border-left: 0.5px solid #ccc !important;
}



.prn-border-columns-theader {
    border-right: 0.5px solid #063970 !important;
}

.prn-border-columns-theader-left {
    border-left: 0.5px solid #063970 !important;
}


.prn-font-table-header {
    background-color: #063970;
    color: #fff !important;
}


.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #063970 !important;
}